
header{
    font-size: 40px;
    font-family: Arial;
    color: #BADA55;
    background-color: #B58A69;
    text-align: center;
    height: 100px;
}

body{
    background-color: white;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 18px;
    text-align: center;

}

ul{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 70px;
}

ul li{
    list-style: none;
}

section{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #DEE5DE;
    height: 35%;
    width: 780px;
    padding: 10px;
    padding-bottom: 30px;
}

aside{
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    background-color: #D7D7CB;
    height: 240px;
    width: auto;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}

.t1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #000;
    padding: 10px 25px 0px 20px;
}

.t2{
    font-size: 16px;
    color: #000;
    text-align: justify;
    padding: 0px 25px 0px 25px;
}

.imgse{
    float: left;
    width: 340px;
    height: 230px;
    padding: 10px 20px;
}

.img{
    height: 50%;
    width: 20%;
    padding: 5px;
}

.boton{
    float: left;
    background-color: #5E5E4A;
    color: white;
    height: 30px;
    width: 100px;
    margin-left: 150px;
    margin-top: -30px;
}


#contenedor{
    width: 900px;
    height: 1200px;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezadoAs{
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover{
    color: red;
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width:650px) {
    ul, section{
        flex-direction: column;
    }
    
}